.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #00274c;
}

.extra-content-item {
  width: 100%;
  border-top-style: solid;
  border-top-width: 1px;
  border-color: #fff;
  padding-top: 10px;
  margin-top: 20px;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.main-image-container {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.main-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.custom-text-body {
  color: black;
  text-align: left;
}

.text-left {
  text-align: left;
}

.subtitle {
  font-size: small;
  text-align: left;
}

.text-yellow {
  color: #ffcb05;
}

.white {
  color: white;
}

.bold {
  font-weight: 700;
}

* {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
  color: white;
}

.section-header {
  color: #ffcb05;
}

.line-above {
  border-top-style: solid;
  border-top-width: 1px;
  border-color: white;
}

.extra-content-image {
  border-style: solid;
  border-color: #ffcb05;
  border-width: 5px;
  max-height: 300px;
}

p {
  color: #fff;
  font-weight: lighter;
}

.page-title {
  text-align: center;
  color: white;
  margin-left: 10px;
  white-space: normal;
  padding-bottom: 0;
  width: 100%;
}

.height-100 {
  height: 100%;
}

.nav-button {
  width: 100%;
  height: 100%;
  background-color: #ffcb05;
  color: black;
}

.links-wrapper {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
}

.links-header {
  color: white;
}

.link-item-image {
  max-height: 250px;
  max-width: 250px;
}

.gradient-bg {
  background-image: url("https://storage.googleapis.com/employee-tools.appspot.com/ResearchStations/gradientBanner.png");
  background-size: cover;
}

hr {
  background-color: white;
}

.line-below {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: white;
}

@media (max-width: 959px) {
  .page-title {
    font-size: 1rem;
    padding-left: 0.3rem;
  }

  .nav-image {
    height: 1.75rem;
  }
}

@media (min-width: 960px) {
  .page-title {
    font-size: 2rem;
    padding-left: 0.5rem;
  }

  .nav-image {
    height: 3rem;
  }
}

@media (min-width: 1920px) {
  .page-title {
    font-size: 3rem;
    padding-left: 1rem;
  }

  .nav-image {
    height: 4rem;
  }
}
